*.gem
*.swp
*~
.DS_Store
.analysis
.bundle/
.byebug_history
.jekyll-metadata
.ruby-gemset
.ruby-version
.sass-cache
_posts/non_published/*
/test/source/file_name.txt
Gemfile.lock
_site/
bbin/
coverage
gh-pages/
pkg/
site/_site/
tmp/*
test*
