
<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo_image %}
    <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo_image }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>

    <div class="menu-links">
        <div>
            <a href="/archive/">Archive</a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
            <a href="/categories/">Categories</a>
        </div>
        <div>
        <a href="/tags/">Tags</a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/projects/">Projects</a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
        <a href="/about/">About</a>
    </div>
    </div>

    <div class="custom-links">
        {% for social in site.social %}
        {% if social.url %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
        <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
        {% endfor %}
    </div>
</header>
