---
layout: page
title: Categories
permalink: /categories/
---


<div class="page-content">
    <div class="categories">
  {% for category in site.categories %}
  {% assign nposts = category | last | size %}
  <div class="collection" data-name="{{ category | first | escape }}">
      <h4 class="category-name">{{ category | first }}</h2>
      <h5 class="collection-count">{{ nposts }} post{% if nposts != 1 %}s{% endif %}</h5>
      <ul>
          {% for posts in category %}
              {% for post in posts %}
                  {% if post.title %}
                      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
              {% endfor %}
          {% endfor %}
      </ul>
  </div>

  {% endfor %}
  </div>
</div>
