---
layout: page
title: Projects
permalink: /projects/
---

<div class="page-content">
    <div class="collection">
  <h2>Projects</h2>
  <h3>Index</h3>
  <ul>
    <li>LTE 펨토셀 취약점 분석 프로젝트 with KISA (LTE femtocell Vulnerability analysis project with KISA) <i>2015.08-2015.12</i></li>
    <li>라즈베리파이를 이용한 모션 감지 CCTV 서버 제작 (DIY Motion detection CCTV server using Raspberry PI) <i>2015.07-2015.11</i></li>
    <li>포털 및 SNS 데이터 기반의 사용자 평판 분석 시스템 개발 - 서버 구축 및 데이터 수집 <i>2016.01 - 2016.03</i></li>
    <li>BigData 분석을 통한 Malware 공격 예측 시스템(THE WHITE SCAN: Finding a cybercrime signal) <i>2016.01 - 2016.06</i></li>
    <li>하둡 노드 로그 모니터링 대쉬보드 제작(Dashboard web page for monitoring Hadoop Nodes) <i>2016.03 - 2016.06</i></li>
    <li>대중 음악 가사 키워드 유사도 분석(Similarity analysis about keywords of popular music lyrics) <i>2016.03 - 2016.05</i></li>
  </ul>

  <h3>Complete Projects</h3>

  {% for project in site.projects %}
    {% if project.status == "complete" %}
    <h2><a href="{{project.url}}">{{ project.title }}</a></h2>
    <div class="post-meta">
        <time datetime="{{ project.date | date_to_long_string }}">{{ project.date | date_to_long_string }}</time>
    </div>
    <div>
      {{ project.excerpt }}
    </div>
    {% else if project.status =="complete" %}
    {% endif %}
  {% endfor %}

  <h3>Incomplete Projects</h3>

  {% for project in site.projects %}
    {% if project.status == "incomplete" %}
    <h2><a href="{{project.url}}">{{ project.title }}</a></h2>
    <div class="post-meta">
      <time datetime="{{ project.date | date_to_long_string }}">{{ project.date | date_to_long_string }}</time>
    </div>
    <div>
      {{ project.excerpt }}
    </div>
    {% else if project.status =="complete" %}
    {% endif %}
  {% endfor %}
  </div>
</div>
